body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eef9bf;
}

.content {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

.title > h1 {
    text-align: center;
    color: #75B79E;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    margin: 28px;
}



.primeiro-aviso {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #75B79E;

    align-items: baseline;
    justify-content: center;
    j
}


.content-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:90px 0;
}

.parrot-img {
    width: 100px;
    height: 100px;
}
.content-parrot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 117px;
    height: 146px;

    margin: 10px;
    border: 5px solid #99CEA8;
    background-color: #A7E9AF;
}

.escondido {
    display: none;
}

@media (max-width:600px){
    .content {
        flex-direction: column;
    }
    .content-cards {
        
        flex-direction: column;
    }

}